apiVersion : apps/v1
kind: Deployment
metadata:
  name: pingpong 
  namespace: development 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong 
    spec:
      initContainers:  # this init container download init.sql file using "curl -o <downloaded file name with path> <download url>" command.
        - name: javaagent
          image: appropriate/curl
          args:
            - "-L"
            - "-o"
            - "/tmp/data/splunk-otel-javaagent.jar" # we are saving downloaded file as init.sql in /tmp/data directory
            - "https://github.com/signalfx/splunk-otel-java/releases/latest/download/splunk-otel-javaagent.jar" # download url
          volumeMounts:
          - name: javaagent # mount the volume where downloaded file will be saved
            mountPath: /tmp/data

      containers:
        - name: pingpong 
          image: "${PINGPONG_IMAGE}"  # placeholder for dynamic image
          volumeMounts:
          - name: javaagent # mount the volume where downloaded file will be saved
            mountPath: /tmp/data
          env:
            - name: SPLUNK_OTEL_AGENT
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://splunk-otel-collector-agent.otel.svc.cluster.local:4317"
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: "grpc"
            - name: OTEL_SERVICE_NAME
              value: "splunk-auto-javaagent"
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "deployment.environment=dev"
            - name: JAVA_TOOL_OPTIONS
              #value: ""
              #value: "-javaagent:/tmp/data/splunk-otel-javaagent.jar"
              value: "-javaagent:/tmp/data/splunk-otel-javaagent.jar -Dotel.instrumentation.common.mdc.resource-attributes=service.name,deployment.environment"
          ports:
          - containerPort: 8080
      volumes:
        - name: javaagent
          emptyDir: {}